/* .list-group .list-group {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding-left: 1.25rem;
}

.list-group .list-group .list-group-item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-left:0;
    border-right: 0;
} */