
@import './0-vendor/bootstrap/grid.scss';
@import './1-settings/settings.scss';
@import './2-elements/elements.scss';
@import './3-components/index.scss';

body {
    background-color: $bgcolor;
}

.RichEditor-styleButton {
  background-color: #fdfdfd;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid rgba(81, 203, 238, 1);
  padding: 4px;
  font-size: 16px;
  transition: all 0.3s ease-in;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 3px;
}

.RichEditor-activeButton {
  background-color: lighten(rgba(81, 203, 238, 1), 5);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.rich-editor {
  position: relative;
  .RichEditor-controls-container {
    position: absolute;
    // display: none;
    transition: all 0.3s ease-out;
    opacity: 0;
    margin-bottom: -30px;
    top: -61px; 
    left:35px;
  }
  &:hover {
    .RichEditor-controls-container {
      opacity: 1;
      margin-bottom: 0px;
      //display: block;
    }
  }
}

.btn {
  position: relative;
  overflow: hidden;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.editor-button-overlay {
    position: absolute;
    z-index: 3;
    height:30px;
    background-color: lighten(rgba(81, 203, 238, 1), 5);
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    color:#fff;
    margin-left:-10px;
    cursor: pointer;

    &:hover {
      background-color: darken(rgba(81, 203, 238, 1), 7);
    }

    span {
      display:block;
      line-height: 30px;
      margin:0px 5px;
    }
    
  }
  
  .show {
    margin-left:0px;
    opacity: 1;
  }
  
  .editor-outline {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    outline: 1px solid rgba(81, 203, 238, 1);
    outline-offset: -1px;
  }
  
.array-editor 
{
  .card {
    padding: 10px;
  }

  h3 {
  margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }
}

.property-sorter {
  z-index: 600;
}